<template>
  <b-list-group class="mt-4">
    <h3 class="text-center" v-if="!$store.state.tasks.length">Нет задач</h3>
    <task-item
      v-else
      v-for="task in $store.state.tasks"
      :title="task.title"
      :key="task.id"
    />
  </b-list-group>
</template>

<script>
import TaskItem from "@/components/Tasks/TaskItem.vue";

export default {
  components: { TaskItem },
  mounted() {
    this.$store.commit("init");
  },
};
</script>
