<template>
  <b-list-group-item class="d-flex justify-content-between align-items-center">
    <b-form-input
      v-if="d_editable === '' || d_editable"
      v-model="d_editable"
      @focusout="update"
      class="me-2"
      ref="title"
    />
    <div v-else @click="isEditable" class="flex-grow-1">
      {{ title }}
    </div>

    <b-button
      variant="danger"
      size="sm"
      @click="$store.commit('remove', title)"
    >
      <b-icon-trash />
    </b-button>
  </b-list-group-item>
</template>

<script>
import { BIconTrash } from "bootstrap-vue";

export default {
  props: {
    title: {
      type: String,
    },
  },
  data() {
    return {
      d_editable: null,
    };
  },
  components: {
    BIconTrash,
  },

  methods: {
    update() {
      this.$store.commit("update", {
        title: this.title,
        update: this.d_editable,
      });
      this.d_editable = null;
    },
    isEditable() {
      this.d_editable = this.title;
      this.$nextTick(() => {
        this.focusInput();
      });
    },
    focusInput() {
      this.$refs.title.$el.focus();
    },
  },
};
</script>
