<template>
  <div>
    <v-navbar />
    <b-container>
      <b-row class="justify-content-center mt-5">
        <b-col md="8">
          <slot />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script setup>
import VNavbar from "@/components/VNavbar.vue";
</script>
