<template>
  <div class="text-center mt-5">
    <div class="mb-4">
      <img alt="Vue logo" src="../assets/logo.png" />
    </div>
    <b-button variant="primary" :to="'tasks'">Список задач</b-button>
  </div>
</template>

<script></script>
