<template>
  <div class="about">
    <task-add-form />
    <task-list />
  </div>
</template>
<script>
import { defineComponent } from "vue";
import TaskAddForm from "@/components/TaskAddForm/TaskAddForm.vue";
import TaskList from "@/components/Tasks/TaskList.vue";

export default defineComponent({
  components: { TaskList, TaskAddForm },
});
</script>
