<template>
  <div class="v-nav">
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-container>
        <b-navbar-brand>Todo App</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item :to="'/'" class="v-nav-link">Главная</b-nav-item>
            <b-nav-item :to="'tasks'" class="v-nav-link"
              >Список задач</b-nav-item
            >
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>

<script setup></script>

<style scoped>
.router-link-exact-active {
  color: var(--bs-primary);
}
</style>
