<template>
  <b-form @submit.prevent="store">
    <b-input-group>
      <b-input-group-prepend>
        <b-input-group-text>Задача</b-input-group-text>
      </b-input-group-prepend>

      <b-form-input v-model="d_task" />

      <b-input-group-append>
        <b-button type="submit">Добавить задачу</b-button>
      </b-input-group-append>
    </b-input-group>
  </b-form>
</template>

<script>
export default {
  name: "TaskAddForm",
  data() {
    return {
      d_task: null,
    };
  },
  methods: {
    store() {
      this.$store.commit("addTask", { title: this.d_task, id: Math.random() });
      this.d_task = null;
    },
  },
};
</script>
